	body {
		SCROLLBAR-FACE-COLOR: #D3E4FF;
		SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
		SCROLLBAR-SHADOW-COLOR: #404040;
		SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
		SCROLLBAR-ARROW-COLOR: #002E82;
		SCROLLBAR-TRACK-COLOR: #002E82;
		SCROLLBAR-DARKSHADOW-COLOR: #0033CC;
	}
