.login-box {
	padding-top: 20px;
}

.login-box form {
	background: linear-gradient(to bottom, #FEFEFE 0%, #F9F9F9 100%) repeat scroll 0 0 #FEFEFE;
	border: 1px solid #E1E1E1;
	border-radius: 8px;
	font-family: Arial,sans-serif;
	margin-bottom: 10px;
	padding: 15px 5px;
}

.login-box input.text:focus {
	border-color: #2D3940;
	color: #3E3E3E;
}

.login-box .text {
	background: url("../../../img/asm-programbiente/protected-input-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #DADADA;
	color: #4E4E4E;
	padding: 4px 8px;
}

.login-box .button {
	background: url("../../../img/asm-programbiente/protected-login-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0;
	color: #FFF;
	font-family: Arial,sans-serif;
	font-size: .7em;
	height: 24px;
	width: 59px;
}