#search-form {
	border: 1px solid #E2E2E2;
	box-shadow: 0 0 2px rgba(0, 0, 0, .1) inset;
	color: #C5C5C5;
	padding: 10px;
	text-align: left;
}

#search-form label {
	padding-left: 10px;
}

#search-form input.text {
	border: 0;
	color: #C5C5C5;
	font-size: 1.1em;
	font-style: italic;
	padding: 0 10px;
	text-align: left;
	width: 10em;
}

#search-form input.button {
	background: url("../../../img/asm-programbiente/search_btn.png") no-repeat scroll center center transparent;
	border: 0;
	border-radius: 0;
	filter: none;
	overflow: hidden;
	text-indent: -999em;
}