#site-map ul li span {
	font-weight: bold;
	text-decoration: underline;
}

#site-map ul li a {
	background-image: url(../../../img/01/sitemap.png);
	background-position: left center;
	background-repeat: no-repeat;
	color: #144873;
}
#site-map ul li ul li a {
	background-image: url("../../../img/asm-programbiente/sidebar_bullet.png");
	background-position: left center;
	background-repeat: no-repeat;
}